.ngc-progress-bar {
    width: 500px;
    margin: 5px;

    .ngc-progress-bar__toggle {
        height: 7px;
        background: rgb(235, 235, 235);
        border-radius: 7px;
        width: 100%;
        margin: 5px 0;
    }

    .ngc-progress-bar__line {
        height: 7px;
        background: rgb(235, 235, 235);
        border-radius: 7px;
        width: 100%;
        margin: 5px 0;
    
        .ngc-progress-bar__line-current {
            width: calc(var(--ngc-progress-bar__percent) * 1%);
            height: 7px;
            background: rgb(19, 19, 63);
            border-radius: 5px;
            -webkit-transition: width 0.5s ease-in-out;
            -moz-transition: width 0.5s ease-in-out;
            -o-transition: width 0.5s ease-in-out;
            transition: width 0.5s ease-in-out;
        }
    }    

    .ngc-progress-bar__status {
        display: flex;
        justify-content: space-between;
    }
}