@import 'src/scss/partials/variable';

.ngc-toast {
	$self: &;
    width: 500px;
    overflow: hidden;
	border-radius: 8px;
	border: 1px solid $color-border;
    display: flex;
    padding: 15px 20px;
	margin-top: 30px;
	margin-bottom: 30px;
    background-color: var(--toast-color, color(darkGray, 700));
	color: var(--toast-text-color, $color-white);

    &#{ $self }-info {
		background-color: $color-info;
	}

	&#{ $self }-success {
		background-color: $color-success;
	}

	&#{ $self }-warning {
		background-color: $color-warning;
	}

	&#{ $self }-danger {
		background-color: $color-danger;
	}

    .ngc-toast-container {
		align-items: center;
		width: 100%;
		min-width: 0;

        .ngc-toast-header {
            display: flex;
            justify-content: space-between;
            font-size: 20px;
        }

        .ngc-toast-description{}
    }
}